nav {
    background-color: lightgrey;
    margin: 0px;
    padding: 1vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    display: inline;
}

body {
    margin: 0px;
}

#mapa {
    width: 6830px;
    height: 2160px;
}